[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dateutil = "*"
bs4 = "*"
requests = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
